body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .65)), url(../images/Circuit\ Primary.svg); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: 100% 100%; */
    /* height: 100vh; */
}

#particles-js {
    width: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .65)), url(../images/Circuit\ Primary.svg); */
    background-color: rgb(13, 0, 20);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 99vh;
}

.con {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 75%;
    transform: translateX(-50%);
}

::placeholder {
    color: #7f7f7f !important;
    transition: .5s
}


@media (max-width: 768px) {
    .con {
        width: 95% !important;
    }
}


#quiz,
#finish,
#Correct,
#inCorrect {
    display: none;
}

.holder {
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
    backdrop-filter: blur(3px);
    border: 1px solid #111;
    border-radius: 20px !important;
}

.header {
    background-color: transparent !important;
}

@media (max-width: 768px) {
    .holder {
        width: 90% !important;
    }
}

.text-spec {
    /* color: #a60583; */
    color: #fd94dc;
    font-size: 22px !important;
    font-weight: 700;
}

@media (max-width: 768px) {
    .text-spec {
        font-size: 18px !important;
    }
}

.bg-spec {
    background-color: #a60583;
}

button {
    cursor: pointer;
    transition: .5s;
}

button:hover {
    background-color: #570746
}

.alert {
    display: none;
    color: #5f024b;
    font-weight: 900;
}


input {
    background-color: transparent !important;
    color: #f28fff !important;
    font-weight: 600 !important;
    transition: .5s;
}

input:focus {
    transform: scale(1.01);
}

input:focus::placeholder {
    color: transparent !important;
}

select {
    background-color: rgba(0, 0, 0, .95) !important;
    color: #f28fff !important;
    font-weight: 600 !important;
    transition: .5s;
}

.pretty label {
    color: #b1aeb1 !important;
    font-size: 16px !important;
    font-weight: 600;
}

.pretty .state label:after,
.pretty .state label:before {
    top: 2px !important
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem #7d0463df !important;
    border-color: hsla(278, 77%, 61%, 0.491) !important;
}

#totalNumberOfQuestions {
    font-weight: 700;
}