#quiz,
#finish,
#Correct,
#inCorrect {
    display: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .65)), url(../images/Circuit\ Primary.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 100vh;
}

::placeholder {
    color: #7f7f7f !important;
    transition: .5s
}

.w-50 {
    width: 70% !important;
}

@media (max-width: 768px) {
    .w-50 {
        width: 95% !important;
    }
}


.text-spec {
    color: #e42abc;
    font-size: 22px !important;
    font-weight: 700;
}

@media (max-width: 768px) {
    .text-spec {
        font-size: 18px !important;
    }
}

.bg-spec {

    background-color: #e42abc;
}

button {
    cursor: pointer;
    transition: .5s;
}

button:hover {

    background-color: #570746
}

.alert {
    display: none;
}

section {
    /* background: linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .65)), url(../images/Circuit\ Primary.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 100vh; */
    padding: 3rem;
}

@media (max-width: 768px) {
    section {
        padding: 1rem;
    }
}

input {
    background-color: transparent !important;
    color: #e42abc !important;
    font-weight: 600 !important;
}

input:focus::placeholder {
    color: transparent !important;
}

select {
    background: rgba(0, 0, 0, .95) !important;
    backdrop-filter: blur(3px) !important;
    color: #ac148b !important;
    font-weight: 600 !important;
    transition: .5s;
}

.bg-white,
.bg-light {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)) !important;
    backdrop-filter: blur(3px);
}


.form-check-label {
    color: #ac148b !important;
    font-size: 18px !important;
    font-weight: 600;
}

@media (max-width: 768px) {
    .form-check-label {
        font-size: 16px !important;
    }
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem #7d0463df !important;
    border-color: hsla(278, 77%, 61%, 0.491) !important;
}