body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .65)), url(../images/Circuit\ Primary.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 100vh;
}

::placeholder {
    color: #7f7f7f !important;
    transition: .5s
}

section {
    padding: 3rem;
}

@media (max-width: 768px) {
    section {
        padding: 5rem 0rem;
    }
}


#quiz,
#finish,
#Correct,
#inCorrect {
    display: none;
}

.holder {
    width: 70% !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    backdrop-filter: blur(3px);
}

.header {
    background-color: transparent !important;
}

@media (max-width: 768px) {
    .holder {
        width: 90% !important;
    }
}

.text-spec {
    color: #ff00c8;
    font-size: 22px !important;
    font-weight: 700;
}

@media (max-width: 768px) {
    .text-spec {
        font-size: 18px !important;
    }
}

.bg-spec {
    background-color: #ff00c8;
}

button {
    cursor: pointer;
    transition: .5s;
}

button:hover {
    background-color: #570746
}

.alert {
    display: none;
    color: #570746;
    font-weight: 900;
}


input {
    background-color: transparent !important;
    color: #f28fff !important;
    font-weight: 600 !important;
}

input:focus::placeholder {
    color: transparent !important;
}

select {
    background-color: rgba(0, 0, 0, .95) !important;
    color: #f28fff !important;
    font-weight: 600 !important;
    transition: .5s;
}

.pretty label {
    color: #b1aeb1 !important;
    font-size: 16px !important;
    font-weight: 600;
}

.pretty .state label:after,
.pretty .state label:before {
    top: 2px !important
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem #7d0463df !important;
    border-color: hsla(278, 77%, 61%, 0.491) !important;
}

#totalNumberOfQuestions {
    font-weight: 700;
}